1. Crie uma lista com os números de 1 a 10 usando compreensão de lista.

In [1]:
lista = [i for i in range(1, 11)]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Crie uma lista com os números ímpares de 1 a 50.

In [ ]:
lista = [i for i in range(1, 51)
if i % 2 != 0]
print(lista)

3. Crie uma lista com as letras maiúsculas de uma string qualquer.

In [10]:
s = "String"
lista = [char for char in s if char.isupper()]
print(lista)

['S']

4. Crie uma lista com o comprimento de cada palavra em uma string.

In [ ]:
texto = "Olá, como você está?"
comprimentos=[len(palavra)
for palavra in texto.split()]
print(comprimentos)

5. Crie uma lista com os números divisíveis por 3 e 5 de 1 a 30.

In [ ]:
lista = [i for i in range(1, 31) if i % 3 == 0 and i % 5 == 0]
print(lista)

6. Crie uma lista com as palavras de uma string que tenham mais de 3 letras.

In [15]:
texto = "Exemplo"
palavras = [palavra for palavra in texto.split() if len(palavra) > 3]
print(palavras)

['Exemplo']

7. Crie uma lista com os números primos de 1 a 20. Dica: use uma função para
verificar se o número é primo ou não.

In [ ]:
def eh_primo(n):
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

primos = [n for n in range(2, 21) if eh_primo(n)]
print(primos)

8. Crie uma lista com as datas de todos os dias de janeiro em um ano bissexto
(considerando que um ano bissexto é divisível por 4).

In [16]:
import datetime
ano = 2024
datas_janeiro = [datetime.date(ano, 1, dia) for dia in range(1, 32)]
print(datas_janeiro)

[datetime.date(2024, 1, 1), datetime.date(2024, 1, 2), datetime.date(2024, 1, 3), datetime.date(2024, 1, 4), datetime.date(2024, 1, 5), datetime.date(2024, 1, 6), datetime.date(2024, 1, 7), datetime.date(2024, 1, 8), datetime.date(2024, 1, 9), datetime.date(2024, 1, 10), datetime.date(2024, 1, 11), datetime.date(2024, 1, 12), datetime.date(2024, 1, 13), datetime.date(2024, 1, 14), datetime.date(2024, 1, 15), datetime.date(2024, 1, 16), datetime.date(2024, 1, 17), datetime.date(2024, 1, 18), datetime.date(2024, 1, 19), datetime.date(2024, 1, 20), datetime.date(2024, 1, 21), datetime.date(2024, 1, 22), datetime.date(2024, 1, 23), datetime.date(2024, 1, 24), datetime.date(2024, 1, 25), datetime.date(2024, 1, 26), datetime.date(2024, 1, 27), datetime.date(2024, 1, 28), datetime.date(2024, 1, 29), datetime.date(2024, 1, 30), datetime.date(2024, 1, 31)]

9. Crie uma lista de strings com os primeiros 10 nomes da lista de nomes.

In [17]:
nomes = ["Alice", "Bianca", "Caio", "Danilo", "Edson", "Fernanda", "Gabriel", "Helena", "Ícaro", "Juliana", "Kaio", "Laura"]
primeiros_10_nomes = nomes[:10]
print(primeiros_10_nomes)

['Alice', 'Bianca', 'Caio', 'Danilo', 'Edson', 'Fernanda', 'Gabriel', 'Helena', 'Ícaro', 'Juliana']

10. Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas com as primeiras letras maiúsculas.

In [ ]:
nomes = ['mariana', 'jair', 'joao', 'ana', 'paulo', 'carlos', 'pedro', 'lucas', 'luiza', 'juliana']
nomes_maiuscula = [nome.title() for nome in nomes]
print(nomes_maiuscula)

11. Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas sem as vogais.

In [18]:
nomes = ['mariana', 'jair', 'joao', 'ana', 'paulo', 'carlos', 'pedro', 'lucas', 'luiza', 'juliana']
nomes_sem_vogais = []
for nome in nomes:
    nome_novo = ''
    for letra in nome:
        if letra not in 'aeiou':
            nome_novo += letra
    nomes_sem_vogais.append(nome_novo)
print(nomes_sem_vogais)

['mrn', 'jr', 'j', 'n', 'pl', 'crls', 'pdr', 'lcs', 'lz', 'jln']

12. Concatenar elementos de sub-listas em uma única lista

In [19]:
lista = [['a', 'b', 'c'], [1, 2, 3], ['x', 'y', 'z']]
lista_unica = []
for sub_lista in lista:
    lista_unica.extend(sub_lista)
print(lista_unica)

['a', 'b', 'c', 1, 2, 3, 'x', 'y', 'z']

13. Criar um dicionário a partir de duas listas

In [20]:
chaves = ['animal', 'cor', 'comida']
valores = ['gato', 'azul', 'pizza']
dicionario = dict(zip(chaves, valores))
print(dicionario)

{'animal': 'gato', 'cor': 'azul', 'comida': 'pizza'}